@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Thank you teacher @ViewData["Professor"]</p>

<p>
    Visit my teacher's web page at <a href="educandoweb.com.br">educandoweb.com.br</a>
</p>

