@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>My email:</strong> <a href="mailto:marcellonardi09@gmail.com">marcellonardi09@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/M-Nardi">github.com/M-Nardi</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/marcello-nardi-550509166/">linkedin.com/M-nardi</a><br />
    <strong>Call me on WhatsApp:</strong><em> +55 (11)96147-0591</em>
</address>
